# git ignore file
*.o
Birdee/Birdee/123
Lib/Exceptions.bdl
*.bdl
*.bde
Lib/Exceptions.bdl
Birdee/Birdee/libmemcached.dll
*.depend
*.layout
*~
compiler/y.output
*.vsp
Lib/Exceptions.bdl
*out.txt
src/Birdee/Birdee/libmemcached.dll
src/Birdee/Birdee/out.txt
src/Birdee/Birdee/out.txt
