# git ignore file
*.o
Birdee/Birdee/123
Lib/Exceptions.bdl
*.bdl
*.bde
Lib/Exceptions.bdl
Birdee/Birdee/libmemcached.dll
Birdee/Birdee/Birdee.depend
Birdee/Birdee/Birdee.layout
Birdee/Birdee/Birdee.layout
Birdee/Birdee/Birdee.layout
